@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');
.pie {
    height: 140vh;
    width: 140vh;
    /* center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.icon {
    height: 5rem;
    width: 5rem;

}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.searchInput{

  display: flex;
  justify-content: center;
  margin-top: 2rem;
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #000;
}
.center {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
body {
    background-image: url("./media/wallpeper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 
}
::-webkit-scrollbar {
  display: none;
}
.hidden{
  display: none;
}
.margin{
  margin-top: 30px;
}
.alert{
  background-color: aliceblue;
  width: 40%;
  height: 13%;
  margin-top: 10px;
}
*{
  font-family: 'Rajdhani', sans-serif;
}

/* modal  */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  max-height: 80%;
  overflow:scroll;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}